<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
</head>	
<body>
	<div id="app">
		<p>{{message}}</p>
		<p>{{msg}}</p>
		<ul>
			<li v-for="item in items">{{item.books}}</li>
		</ul>
		<input type="text" v-model="todo" @keyup.enter="onEnter">
		<ul>
			<todo-item></todo-item>
		</ul>
		<p>{{countNum}}<p>
		<input type="text" v-model='oneNum'>
		<input type="text" v-model='twoNum'>	
	</div>
	<script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
	<script>
		Vue.component('todo-item',{
			template: '<li>这是个待办项</li>'
		})
		var app = new Vue({
			el:"#app",
			data:{
				message:"Hello,World!",
				msg:"加载于" + new Date().toLocaleString(),
				items:[
					{books:"javascript"},
					{books:"Vue.js"},
					{books:"html5"}
				],
				todo:"",
				oneNum:"2",
				twoNum:"1",
			},

			watch:{
				firstName (val) {
					console.log(val)
					this.fullName = val + ' ' + this.lastName
				},
				lastName (val) {
					console.log(val)
					this.fullName = this.firstName + ' ' + val
				}
			}, 

			computed:{
			    countNum:function(){
			        return Number(this.oneNum) + Number(this.twoNum)        
			    }
			},

			methods:{
				onEnter () {
					this.items.push({books:this.todo});
					this.todo = "";
				}
			}
		})
	</script>
</body>
</html>