.fl{float: left;}
.fr{float: right;}
.clearfix{clear: both;}
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
}

/*左侧菜单栏*/
.logisticsleft.layout-menu-left{
    background: #fff;
}
.logisticsleft .layout-logo-left{
    width: 100%;
    height: 90px;
    background: url(../img/wlogobg.png);
    margin:auto;
    border-bottom:1px solid #eaeaea;
    background-size: 100%;
    text-align: center;
    line-height: 90px;
}
.logisticsleft.ivu-col-span-4 .layout-logo-left img{
	width: 117px;
	height: 48px;
	margin-top: 19px;
}
.logisticsleft.ivu-col-span-2 .layout-logo-left img{
	width: 68px;
	height: 28px;
}
.logisticsleft .ivu-menu-light .ivu-menu-submenu{
	border-bottom:1px solid #e3e8ee;
}
.logisticsleft .ivu-menu-light .ivu-menu-submenu .ivu-menu-submenu-title{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	text-align: center;
}
.logisticsleft .ivu-menu-light .ivu-menu-submenu .ivu-menu-submenu-title.bluebg{
	background: #f0f0f1;
}
.logisticsleft .ivu-menu-light .ivu-menu-opened .ivu-menu-submenu-title{
	background:#f0f0f1;
}
.logisticsleft .ivu-menu.ivu-menu-light .ivu-menu-opened  .ivu-menu{padding: 16px 0;}
.logisticsleft .ivu-menu.ivu-menu-light .ivu-menu-opened  .ivu-menu .ivu-menu-item{
	text-align: center;
	padding-left: 24px;

}
.logisticsleft .ivu-menu.ivu-menu-light .ivu-menu-opened  .ivu-menu .menuline{
	height: 1px;
	width: 100%;
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),#e9edf2, #e9edf2,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.layout-ceiling-main a{
    color: #9ba7b5;
}
.layout-hide-text .layout-text{
    display: none;
}
.logisticsright{
	border-left:1px solid #e3e8ee;
	position: relative;
}
.logisticsright .layout-header{
    height: 45px;
    border-bottom: 1px solid #3399ff;
    background: url(../img/wheadbg.png);
}
.logisticsright .layout-content{
    min-height: 500px;
}
.logisticsright .layout-content-main{
    padding: 10px;
}
.logisticsright .layout-breadcrumb{
    padding: 16px 15px 7px;
    border-bottom: 1px solid #eaeaea;
}
.logisticsright .ivu-col{
    transition: width .2s ease-in-out;
}
.logisticsright .logrighthead .ivu-menu-light{
	background: none;
	height: 45px;
	line-height:45px;
}
.logisticsright .logrighthead .ivu-menu-horizontal.ivu-menu-light:after{
	background: none;
}
.logisticsright .logrighthead  .demo-badge{
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 6px;
    display: inline-block;
}
.logisticsright .logrighthead  .headportrait{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.logisticsright .logrighthead  .headportrait img{
	margin-top: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.logisticsright .layout-breadcrumb .ivu-breadcrumb span{
    font-weight:normal;
	color: #000;
}
.logisticsright .layout-breadcrumb .ivu-breadcrumb a{
	color: #000;
}
.logisticsright .layout-breadcrumb .ivu-breadcrumb .colon{
	margin: 0 2px;
}
.logisticsright .layout-breadcrumb .ivu-breadcrumb span.fr{
	color: #3399ff;
	cursor:pointer
}
#formbg{
	overflow: visible;
	height: 50px;
	line-height: 50px;
	padding: 12px;
	border-bottom: 1px solid #e3e8ee;
}
#formbg .ivu-form-item{margin-bottom: 0;}
#formbg .ivu-form-item input{
	height: 28px;
	line-height: 28px;
	border: 1px solid #d7dde4;
	border-radius: 3px;
}
#formbg .ivu-form-item.last .ivu-form-item-content{
	margin-left: 28px !important;
	
}
#formbg .ivu-form-item.last .ivu-form-item-content input{
	background: #3399ff;
	color: #fff;
	padding: 0 15px;
	line-height: 30px;
	border: none;
}
.tabel .ivu-table-wrapper{
	border: none;
}
.bottom{
	height: 30px;
	line-height: 30px;
	border-bottom:1px solid #eaeaea ;
}
.bottom .ivu-dropdown-rel a{
	color: #798390;
	line-height: 22px;
	padding:3px 4px;
	border: 1px solid #cfd4d7;
	border-radius: 3px;
}
.bottom .page .ivu-page li{
	min-width: 24px;
	height: 24px;
	border-radius: 0;
	margin-top: 3px;
	border: none;
}
.bottom .page .ivu-page li.ivu-page-prev{
	width: 30px;
	border-left-radius: 3px;
}
.bottom .page .ivu-page li.ivu-page-next{
	width: 30px;
	border-right-radius: 3px;
}
.logisticsright .layout-copy{
	width: 100%;
	line-height:24px;
    text-align: center;
    color: #9ea7b4;
    position: absolute;
    bottom: 0;
}
/*图标大全*/
@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot'); /* IE9*/
  src: url('iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*选择行*/
.buttom .ivu-poptip .ivu-poptip-rel{
	margin-left: 15px;
	padding: 1px 3px; 
	border: 2px solid rgb(207, 212, 215);
	border-radius: 4px; float: left; 
	margin-top: 5px;
}
.buttom .ivu-poptip .ivu-poptip-popper[x-placement^=top]{
	width:160px;
	height: 169px;
	}
.buttom .ivu-poptip#selectrow .ivu-poptip-body{
	padding: 0;
	width: 100%;
	background: #f9fafc;
	border-radius: 3px;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul{
	padding: 0 10px;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul div.seltitle{
	text-align: center;
	margin-top: 5px;
	height: 25px;
	line-height: 25px;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul div.seltitle i.iconfont{
	width: 14px;
	height: 14px;
	background: #cccfd3;
	border-radius: 3px;
	color: #fff;
	float: right;
	margin-top: 4px;
	cursor: pointer;
	font-size: 10px;
	line-height: 14px;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul li{
	width: 50%;
	clear: none;
	padding: 0px 0px 0px 10px;
	height: 15px;
	line-height: 15px;
	cursor: pointer;
	margin-bottom: 10px;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul li:nth-child(odd){
	padding: 0px 0px 0px 5px;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul li span.icon{
	line-height: 15px;
	width: 15px;
	height: 15px;
	text-align: center;
	border-radius: 3px;
	background:#dfe4eb;
	color: #fff;
	display: inline-block;
	margin-right: 2px;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul li span.icon2{
	background: #3399ff;
}
.buttom .ivu-poptip#selectrow .ivu-poptip-body .ivu-poptip-body-content ul li i.iconfont{
	font-size: 10px;
}
.ivu-table-row{height: 60px;font-size: 14px;}
.ivu-table-cell{white-space:nowrap;
overflow: hidden;
text-overflow: ellipsis;}
.tabel tr th{
	height: 42px; 
	background: #f8f8f8;
	border-bottom:1px #d7dde4 solid;
	border-right: 1px #e1e9f1 solid;
}
.tabel tr th:last-child{
	border-right: none;
}
.tabel tr td{
	font-size: 14px; 
	height: 40px;
	border-bottom:1px #d7dde4 solid;
	border-right: 1px #e1e9f1 solid;
	background: #fff;
	}
.tabel tr:nth-child(odd) td{
	background: #f5f7f9;
}
.tabel tr td:last-child{
	border-right: none;
}